extends ../user_layout

block content
  .col-sm-6.col-sm-offset-3
    h1
      span.fa.fa-sign-in
      |  Account Details
    form(action='/users/#{user.id}?_method=PUT', method='post')
      .form-group
        label Email
        input.form-control(type='text', name='user[email]' value="#{user.email}")
      .form-group
        label What should we call you?
        input.form-control(type='text', name='user[alias]', value="#{user.alias || 'Enter a username'}")
      .form-group
        label Link to a profile photo
        input.form-control(type='text', name='user[photo]', value="#{user.photo || 'link to a profile photo'}")
      button.btn.btn-warning.btn-lg(type='submit') Submit
    br
    form(action='/users/#{user.id}?_method=DELETE', method='post')
      button.btn.btn-alert.btn-lg(type='submit') Delete Account
